#nyt_spm_button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;

}



ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}




ul li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    display: block;
    position: relative;
}

ul li:hover {
    background-color: #eee;
}